/**********************************************************************************/
/*                                  GENERAL STYLES                                */
/**********************************************************************************/

:root {
    /* Color Hunt Palette 2650732d95969ad0c2f1fada - https://colorhunt.co/palette/2650732d95969ad0c2f1fada */
    --color-01: #265073;
    --color-02: #2D9596;
    --color-03: #9AD0C2;
    --color-04: #ebebeb;
    --color-05: #333333;
    /* Other colors */
    --white: #fcfcfc;
    --shadow: #808080;
    --black: #121212;

    --color-accent: #6200ee;
    --color-highlight-control: #1e90ff;
    --color-highlight-fill-control-green: #04AA6D;
    --color-highlight-fill-control-red: #dc143c;
    --color-highlight-fill-control-blue: #1e90ff;
    --field-background: #f0f0f0;
    --field-background--hover: #e2e2e2;

    /* Theme colors */
    --theme-color: var(--color-04);
    --theme-color-dark: var(--black);
    --elements-backgroud-color: var(--color-01);
    --elements-backgroud-color-alter: var(--color-02);
    --elements-backgroud-color-other: var(--color-03);
    --backgroud-color: var(--color-05);
    --background-color-alter: #dddddd;

    /* Navbar colors */
    --navbar-theme-color: var(--theme-color-dark);
    --navbar-shadow-color: var(--shadow);
    --navbar-hover-color: var(--elements-backgroud-color);
    
    /* Font text colors */
    --text-color: var(--black);
    --text-color-inverse: var(--theme-color);
    
    /* Settings */
    --margin: 1%;
    --min-width: 360px;
    --max-width: 100%;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    margin: 0% auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

main {
    margin-top: 56px; /* Header height */
    padding-top: 3px;
    background-color: var(--theme-color);
}

article {
    margin: 0 var(--margin);
    top: 0;
    left: 0;
}

section[id] {
    font-size: 16px;
    padding: 5px 0px;
    text-align: justify;
    background-color: var(--theme-color);
}
